* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Markazi Text", serif;
}
h1 {
  font-size: 40pt;
  color: #f4ce14;
}
header {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
}
nav ul li {
  display: inline-block;
  margin: 10px;
}
footer {
  display: flex;
  justify-content: space-around;
}
div.hero {
  background-color: #495e57;
  justify-content: space-around;
  display: flex;
  padding: 20px;
}
div.hero .left {
  width: 50%;
}
div.hero .left h3 {
  font-size: 18pt;
  color: white;
}
div.hero .left h5 {
  margin-top: 10px;
  font-size: 16pt;
  color: white;
  line-height: 1.5;
  font-style: normal;
}
div.hero .left input {
  background-color: #f4ce14;
  padding: 10px;
  border-radius: 16px;
  font-size: 12pt;
  font-weight: 700;
  margin-top: 10px;
  border-style: none;
}

div.hero .right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
div.hero .right img {
  height: 200px;
  width: 200px;
}
